html {
  font-size: 10px;
}

#contact {
  color: #FFD200;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  min-height: 80vh;
}

.contact .contact_left h3 {
  font-size: 2rem;
}

.contact .contact_left p, .contact .contact_left a {
  font-size: 1.8rem;
  font-weight: 400;
}

.contact .contact_left .m_top {
  margin-top: 2.5rem;
}

.contact .contact_left .linkedin {
  font-size: 3rem;
  color: #0e76a8;
}

.contact .contact_left .twitter {
  font-size: 3rem;
  color: #1DA1F2;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

form input {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  border-radius: 0.8rem;
  height: 3rem;
}

form input, form textarea {
  padding: 0 2rem;
}

form h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form .name_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

form .name_cont .name_sub_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form .name_cont .fname_cont {
  margin-right: 1rem;
}

form .name_cont .lname_cont {
  margin-left: 1rem;
}

form .email_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

form .email_cont input {
  width: 100%;
}

form .message_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

form .message_cont textarea {
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  border-radius: 0.8rem;
  resize: none;
  padding: 1rem 2rem;
}

form button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: #533EFF;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.danger {
  text-align: center;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.5rem;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  display: none;
}

.danger_good {
  display: block;
  background: rgba(0, 128, 0, 0.404);
  border: 1px solid rgba(0, 128, 0, 0.562);
}

.danger_bad {
  display: block;
  background: #ff00005e;
  border: 1px solid #ff00007e;
}

footer {
  margin-top: 10rem;
}

@media (max-width: 1307px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1229px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 987px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 838px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 660px) {
  .contact_cont .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact_cont .contact .contact_left {
    margin-top: 7rem;
    text-align: center;
  }
}

@media (max-width: 568px) {
  .contact_right {
    width: 90%;
  }
  .contact_right form {
    width: 100%;
  }
}

@media (max-width: 512px) {
  .name_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name_sub_cont {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 2rem;
  }
  .name_sub_cont input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */