// Variables
$bg: #f9f9f9;
$dark: #2F3653;
$yellow: #FFD200;
$light_blue: #9AAEFF;

// Main Css


#about{
    color: $yellow;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;

    h1{
        font-size: 4rem;
    }

    .center{
        width: 50%;

        p{
            font-size: 1.7rem;
            margin: 2rem 0rem;
            text-align: center;
        }
    }
}



// Media Quries

@media (max-width:1155px){
    .about_cont{
        .about{
            .center{
                width: 70%;
            }
        }
    }
}
@media (max-width:646px){
    .about_cont{
        .about{
            .center{
                width: 90%;
            }
        }
    }
}