// Variables
$bg: #f9f9f9;
$dark: #2F3653;
$yellow: #FFD200;
$light_blue: #9AAEFF;

// Main Css


#about{
    color: $yellow;
}

// .about{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     padding: 5rem 0;

//     h1{
//         font-size: 4rem;
//     }

//     .center{
//         width: 50%;

//         p{
//             font-size: 1.7rem;
//             margin: 2rem 0rem;
//             text-align: center;
//         }
//     }
// }

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height:70vh;

    .wrapper{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-height:70vh;
    }

    h1{
                    font-size: 4rem;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                }

    .about-left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin-top: 3rem;
        padding-bottom: 5rem;
        width: 50%;

        p{
                        font-size: 1.7rem;
                        margin: 2rem 0rem;
                        // text-align: center;
                    }

        h2{
                        margin: 2rem 0rem;
                        font-size: 2rem;
            
                        .tick{
                            color: green;
                        }
                    }
    }

    .about-right{
        margin-top: -3rem;
        img{
            width: 30vw;
            object-fit: contain;
        }
    }
}



// Media Quries


@media (max-width:1307px){
    html{
        font-size: 9px !important;
    }
}


@media (max-width:1229px){
    html{
        font-size: 8px !important;
    }
}

@media (max-width:987px){
    html{
        font-size: 7px !important;
    }
}

@media (max-width:838px){
    html{
        font-size: 6px !important;
    }
}


@media (max-width:630px){
    .about .wrapper{
        flex-direction: column-reverse;
        justify-content: center;

        .about-left{
            margin-top: 5rem;
            width: 70%;

            p{
                font-size: 2.5rem;
                text-align: center;
            }

            .ser_cont{
                h2{
                    font-size: 3rem;
                }
            }
        }

        .about-right{
            margin-top: 5rem;
            
            img{
                width: 60vw;
            }
        } 
    }
}

@media (max-width:420px){
    .about .wrapper .about-left .ser_cont h2{
        font-size: 2rem;
    }
    .about .wrapper .about-left{
        width: 90%;
    }
}
