@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
#home {
  color: #FFD200;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
}

.hero .hero_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  position: relative;
}

.hero .hero_left h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.hero .hero_left p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 2.5rem;
}

.hero .hero_left ol li {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.hero .hero_left ol li i {
  color: green;
  margin-right: 0.5rem;
}

.hero .hero_left .btn {
  width: 15rem;
  height: 4rem;
  background-color: #533EFF;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-top: 3rem;
  cursor: pointer;
  z-index: 10;
}

.hero .hero_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_right img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.why_choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.why_choose .why_choose_left {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_choose .why_choose_left img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.why_choose .why_choose_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.why_choose .why_choose_right h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.why_choose .why_choose_right p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 2.5rem;
}

.box_cont {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box {
  height: 25rem;
  background-color: #9AAEFF;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13rem;
}

.box .box_img {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .box_img img {
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}

.box .box_text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem 3rem;
  color: #000;
}

.box .box_text h2 {
  font-size: 3rem;
}

.box .box_text p {
  font-size: 2.3rem;
  opacity: 0.8;
  margin-top: 2rem;
  padding-right: 10%;
}

@media (max-width: 1307px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1229px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 987px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 838px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  .inner_cont {
    width: 95%;
  }
}

@media (max-width: 682px) {
  .hero {
    min-height: 50vh;
    padding-top: 2rem;
  }
  .hero .hero_right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 40%;
  }
  .hero .hero_right img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero .hero_left {
    width: 60%;
  }
  .hero .hero_left p {
    padding-right: 10rem;
  }
}

@media (max-width: 525px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .hero_left {
    width: 70% !important;
    margin: 5rem 0rem !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero_left h1 {
    text-align: center;
  }
  .hero .hero_left p {
    text-align: center !important;
    padding: 0;
  }
  .hero .hero_right {
    width: 60% !important;
  }
  .why_choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_choose .why_choose_left {
    width: 80%;
  }
  .why_choose .why_choose_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  .why_choose .why_choose_right h1 {
    text-align: center;
  }
  .why_choose .why_choose_right p {
    text-align: center;
  }
  .box_cont {
    width: 100%;
  }
  .box_cont .box {
    height: auto !important;
    width: 90%;
  }
  .box_cont .box .box_img {
    width: 100% !important;
  }
  .box_cont .box .box_img img {
    width: 80% !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
    margin-top: 2rem;
  }
  .box_cont .box .box_text {
    width: 80%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box_cont .box .box_text p {
    padding: 0;
  }
  .box_cont .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box_cont .col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 495px) {
  .hero_cont .hero .hero_left {
    width: 90% !important;
  }
}

@media (max-width: 381px) {
  html {
    font-size: 5px;
  }
}
/*# sourceMappingURL=style.css.map */